<p>Concept counts to concept values grouped by Birth Res Zip Code to ...</p>

<%= form_tag request.path, method: :get do %>
	<p><%= select_tag 'v', options_for_select(@concepts, params[:v]), 
		:prompt => '- Select Concept -' %>
	<%= submit_tag "Query", :name => nil %></p>
<% end %>



<% if @value.present? %>
<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Zip Code</th>
		<th><%=@value%></th>
		<th>Count</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result['birth_res_zip_code'] %></td>
		<td><%= result['value'] %></td>
		<td><%= result['count'] %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @results.to_sql %></p>




<script type="text/javascript">
//<![CDATA[

//	x's are the values
var xs = [<%=@results.collect{|r| "\"#{r.value}\"" }.uniq.join(", ").html_safe %>];
var data = [];

//	y's should be the counts for the given concept for each zip code. ie. [Yes, No, Unknown]
<% @results.collect{|r| r.birth_res_zip_code }.uniq.each_with_index do |birth_res_zip_code,i| %>
data[<%=i%>] = {
	x: xs,
	y: [<%= 
		@results.collect{|r| r.value }.uniq.collect{|value|
			@results.find{|r| r['birth_res_zip_code'] == birth_res_zip_code and r['value'] == value }.try(:count)||0 
		}.join(", ").html_safe 
%>],
	name: '<%=birth_res_zip_code.html_safe%>',
	type: 'bar'
};
<% end.join("\n")	#	@results %>

var layout = {
	hovermode: 'closest',
	barmode: 'group',
	title: "Counts to <%=@value.html_safe%> grouped by Birth Res Zip Code",
	xaxis: {
		title: '<%=@value.html_safe%> Values'
	},
	yaxis: {
		title: 'Count'
	}
};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
<% end	#	if @value.present? %>
