<style>
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
</style>

<div id="map"></div>
<script>

function heatMapColorforValue(value){
	//	var h = (1.0 - value) * 240
	//	3884 and 3100 are the max and min weight for zip code with defined regions
	var h = ((value-3100.)/(3884.-3100.)) * 240;
	console.log("Hsl Color "+h);
	return "hsl(" + h + ", 100%, 50%)";
}

var map;
/*
From https://fusiontables.google.com/DataSource?docid=1Lae-86jeUDLmA6-8APDDqazlTOy1GsTXh28DAkw

Manually, first column was blank which mucks up parsing so added a space to beginning of each line.
Also, removed header line, although that could have been done with a tail +1

sort -t, -k4,4n US\ ZIP\ codes-filtered.csv | sed 's/<[[:alpha:]\/]*>//g' | awk 'BEGIN {FPAT = "(\"([^\"]|\"\")*\")|([^,\"]*)"}{gsub("\"","",$12);split($12,cs," ");print "{ zip: "$4", lat: "$5", lng: "$10", ["; for(i=1;i<=length(cs);i++){split(cs[i],ccs,",");print "{ lat: "ccs[2]", lng: "ccs[1]" },";};print "]},";}' 

*/
var nevada_zip_regions = [
	{ zip: 89001, lat: 37.3609, lng: -115.49, coords: [
	{ lat: 36.849681, lng: -114.953293 },
	{ lat: 36.843083, lng: -115.89467 },
	{ lat: 37.711328, lng: -115.89522 },
	{ lat: 38.051697, lng: -115.870476 },
	{ lat: 38.051147, lng: -115.359647 },
	{ lat: 37.401201, lng: -115.458073 },
	{ lat: 37.40615, lng: -115.178739 },
	{ lat: 37.577159, lng: -115.078663 },
	{ lat: 37.521073, lng: -114.831771 },
	{ lat: 37.147161, lng: -115.023676 },
	{ lat: 36.849681, lng: -114.953293 },
	]},
	{ zip: 89005, lat: 35.8987, lng: -114.829, coords: [
	{ lat: 35.804378, lng: -115.003331 },
	{ lat: 35.942396, lng: -114.974188 },
	{ lat: 35.981986, lng: -114.876861 },
	{ lat: 36.102408, lng: -114.902155 },
	{ lat: 36.117254, lng: -114.904904 },
	{ lat: 36.124953, lng: -114.897206 },
	{ lat: 36.029825, lng: -114.726196 },
	{ lat: 35.749941, lng: -114.699803 },
	{ lat: 35.804378, lng: -115.003331 },
	]},
	{ zip: 89008, lat: 37.3077, lng: -114.5, coords: [
	{ lat: 36.843083, lng: -114.120789 },
	{ lat: 36.849681, lng: -114.953293 },
	{ lat: 37.147161, lng: -115.023676 },
	{ lat: 37.521073, lng: -114.831771 },
	{ lat: 37.908181, lng: -114.83617 },
	{ lat: 37.723975, lng: -114.052056 },
	{ lat: 37.712427, lng: -114.052056 },
	{ lat: 37.604653, lng: -114.052606 },
	{ lat: 37.53097, lng: -114.052606 },
	{ lat: 37.000346, lng: -114.050406 },
	{ lat: 36.843083, lng: -114.050406 },
	{ lat: 36.843083, lng: -114.120789 },
	]},
	{ zip: 89012, lat: 36.0092, lng: -115.046, coords: [
	{ lat: 35.984186, lng: -115.083612 },
	{ lat: 36.023227, lng: -115.084712 },
	{ lat: 36.031475, lng: -115.029725 },
	{ lat: 36.033124, lng: -115.018177 },
	{ lat: 35.998482, lng: -114.999482 },
	{ lat: 35.984186, lng: -115.083612 },
	]},
	{ zip: 89013, lat: 37.6047, lng: -117.365, coords: [
	{ lat: 37.760816, lng: -117.16542 },
	{ lat: 36.971203, lng: -117.16597 },
	{ lat: 37.060281, lng: -117.286391 },
	{ lat: 37.217544, lng: -117.496442 },
	{ lat: 37.4045, lng: -117.456301 },
	{ lat: 37.707478, lng: -117.63171 },
	{ lat: 37.985163, lng: -117.648206 },
	{ lat: 38.120431, lng: -117.444204 },
	{ lat: 38.035201, lng: -117.444204 },
	{ lat: 38.005508, lng: -117.169819 },
	{ lat: 37.760816, lng: -117.16542 },
	]},
	{ zip: 89014, lat: 36.0613, lng: -115.058, coords: [
	{ lat: 36.031475, lng: -115.029725 },
	{ lat: 36.055119, lng: -115.100108 },
	{ lat: 36.085912, lng: -115.059967 },
	{ lat: 36.082613, lng: -115.044021 },
	{ lat: 36.033124, lng: -115.018177 },
	{ lat: 36.031475, lng: -115.029725 },
	]},
	{ zip: 89015, lat: 36.0874, lng: -114.946, coords: [
	{ lat: 36.082613, lng: -115.044021 },
	{ lat: 36.138699, lng: -115.00883 },
	{ lat: 36.157395, lng: -115.003881 },
	{ lat: 36.188188, lng: -115.000032 },
	{ lat: 36.243724, lng: -115.000581 },
	{ lat: 36.242075, lng: -114.918651 },
	{ lat: 36.1354, lng: -114.87851 },
	{ lat: 36.124953, lng: -114.897206 },
	{ lat: 36.117254, lng: -114.904904 },
	{ lat: 36.102408, lng: -114.902155 },
	{ lat: 35.981986, lng: -114.876861 },
	{ lat: 35.942396, lng: -114.974188 },
	{ lat: 35.998482, lng: -114.999482 },
	{ lat: 36.033124, lng: -115.018177 },
	{ lat: 36.082613, lng: -115.044021 },
	]},
	{ zip: 89017, lat: 37.7421, lng: -115.155, coords: [
	{ lat: 37.521073, lng: -114.831771 },
	{ lat: 37.577159, lng: -115.078663 },
	{ lat: 37.40615, lng: -115.178739 },
	{ lat: 37.401201, lng: -115.458073 },
	{ lat: 38.051147, lng: -115.359647 },
	{ lat: 38.054446, lng: -115.000581 },
	{ lat: 38.030802, lng: -114.854316 },
	{ lat: 37.908181, lng: -114.83617 },
	{ lat: 37.521073, lng: -114.831771 },
	]},
	{ zip: 89018, lat: 36.5928, lng: -115.425, coords: [
	{ lat: 36.849681, lng: -114.953293 },
	{ lat: 36.524708, lng: -114.92415 },
	{ lat: 36.317957, lng: -115.001681 },
	{ lat: 36.336103, lng: -115.079763 },
	{ lat: 36.336103, lng: -115.207333 },
	{ lat: 36.336103, lng: -115.256271 },
	{ lat: 36.337752, lng: -115.322255 },
	{ lat: 36.420233, lng: -115.442677 },
	{ lat: 36.244274, lng: -115.897969 },
	{ lat: 36.404836, lng: -115.89632 },
	{ lat: 36.843083, lng: -115.89467 },
	{ lat: 36.849681, lng: -114.953293 },
	]},
	{ zip: 89019, lat: 35.8262, lng: -115.477, coords: [
	{ lat: 35.606975, lng: -115.390989 },
	{ lat: 35.697704, lng: -115.506462 },
	{ lat: 35.808777, lng: -115.647229 },
	{ lat: 35.852217, lng: -115.702766 },
	{ lat: 35.946245, lng: -115.623584 },
	{ lat: 35.947894, lng: -115.34425 },
	{ lat: 35.860465, lng: -115.258471 },
	{ lat: 35.606975, lng: -115.390989 },
	]},
	{ zip: 89020, lat: 37.1757, lng: -116.488, coords: [
	{ lat: 36.404836, lng: -115.89632 },
	{ lat: 36.272868, lng: -116.246037 },
	{ lat: 36.590143, lng: -116.661189 },
	{ lat: 36.971203, lng: -117.16597 },
	{ lat: 37.760816, lng: -117.16542 },
	{ lat: 37.863092, lng: -117.098336 },
	{ lat: 37.892235, lng: -116.366459 },
	{ lat: 37.74377, lng: -116.224592 },
	{ lat: 37.711328, lng: -115.89522 },
	{ lat: 36.843083, lng: -115.89467 },
	{ lat: 36.404836, lng: -115.89632 },
	]},
	{ zip: 89027, lat: 36.8073, lng: -114.079, coords: [
	{ lat: 36.747955, lng: -114.050956 },
	{ lat: 36.843083, lng: -114.120789 },
	{ lat: 36.843083, lng: -114.050406 },
	{ lat: 36.747955, lng: -114.050956 },
	]},
	{ zip: 89029, lat: 35.1711, lng: -114.721, coords: [
	{ lat: 35.200071, lng: -114.572233 },
	{ lat: 35.197322, lng: -114.572233 },
	{ lat: 35.003218, lng: -114.634918 },
	{ lat: 35.103844, lng: -114.759738 },
	{ lat: 35.222066, lng: -114.906554 },
	{ lat: 35.231964, lng: -114.594228 },
	{ lat: 35.200071, lng: -114.572233 },
	]},
	{ zip: 89030, lat: 36.2123, lng: -115.124, coords: [
	{ lat: 36.240425, lng: -115.097908 },
	{ lat: 36.188188, lng: -115.098458 },
	{ lat: 36.187638, lng: -115.098458 },
	{ lat: 36.188188, lng: -115.1353 },
	{ lat: 36.203034, lng: -115.160594 },
	{ lat: 36.239875, lng: -115.1342 },
	{ lat: 36.240425, lng: -115.097908 },
	]},
	{ zip: 89031, lat: 36.2582, lng: -115.143, coords: [
	{ lat: 36.239875, lng: -115.1342 },
	{ lat: 36.238776, lng: -115.207333 },
	{ lat: 36.276167, lng: -115.205683 },
	{ lat: 36.276717, lng: -115.152895 },
	{ lat: 36.276167, lng: -115.117154 },
	{ lat: 36.276717, lng: -115.098458 },
	{ lat: 36.276717, lng: -115.072614 },
	{ lat: 36.240425, lng: -115.097908 },
	{ lat: 36.239875, lng: -115.1342 },
	]},
	{ zip: 89032, lat: 36.221, lng: -115.176, coords: [
	{ lat: 36.195886, lng: -115.192486 },
	{ lat: 36.217331, lng: -115.212281 },
	{ lat: 36.238776, lng: -115.207333 },
	{ lat: 36.239875, lng: -115.1342 },
	{ lat: 36.203034, lng: -115.160594 },
	{ lat: 36.195886, lng: -115.192486 },
	]},
	{ zip: 89033, lat: 36.3093, lng: -115.149, coords: [
	{ lat: 36.276167, lng: -115.205683 },
	{ lat: 36.276167, lng: -115.206233 },
	{ lat: 36.336103, lng: -115.207333 },
	{ lat: 36.336103, lng: -115.079763 },
	{ lat: 36.276717, lng: -115.098458 },
	{ lat: 36.276167, lng: -115.117154 },
	{ lat: 36.276717, lng: -115.152895 },
	{ lat: 36.276167, lng: -115.205683 },
	]},
	{ zip: 89040, lat: 36.4867, lng: -114.503, coords: [
	{ lat: 36.242075, lng: -114.918651 },
	{ lat: 36.273417, lng: -114.997832 },
	{ lat: 36.276717, lng: -115.072614 },
	{ lat: 36.276717, lng: -115.098458 },
	{ lat: 36.336103, lng: -115.079763 },
	{ lat: 36.317957, lng: -115.001681 },
	{ lat: 36.524708, lng: -114.92415 },
	{ lat: 36.849681, lng: -114.953293 },
	{ lat: 36.843083, lng: -114.120789 },
	{ lat: 36.747955, lng: -114.050956 },
	{ lat: 36.209083, lng: -114.046557 },
	{ lat: 36.019378, lng: -114.215917 },
	{ lat: 36.160694, lng: -114.37098 },
	{ lat: 36.569797, lng: -114.338538 },
	{ lat: 36.164543, lng: -114.439714 },
	{ lat: 36.1354, lng: -114.87851 },
	{ lat: 36.242075, lng: -114.918651 },
	]},
	{ zip: 89041, lat: 36.3056, lng: -116.061, coords: [
	{ lat: 36.21953, lng: -115.961204 },
	{ lat: 36.344901, lng: -116.032688 },
	{ lat: 36.21953, lng: -116.104171 },
	{ lat: 36.166743, lng: -116.10802 },
	{ lat: 36.272868, lng: -116.246037 },
	{ lat: 36.404836, lng: -115.89632 },
	{ lat: 36.244274, lng: -115.897969 },
	{ lat: 36.21953, lng: -115.961204 },
	]},
	{ zip: 89043, lat: 38.2545, lng: -114.495, coords: [
	{ lat: 38.054446, lng: -115.000581 },
	{ lat: 38.677449, lng: -115.000581 },
	{ lat: 38.677449, lng: -114.951093 },
	{ lat: 38.677449, lng: -114.631619 },
	{ lat: 38.677449, lng: -114.049856 },
	{ lat: 38.572974, lng: -114.050406 },
	{ lat: 38.148474, lng: -114.049856 },
	{ lat: 37.723975, lng: -114.052056 },
	{ lat: 37.908181, lng: -114.83617 },
	{ lat: 38.030802, lng: -114.854316 },
	{ lat: 38.054446, lng: -115.000581 },
	]},
	{ zip: 89045, lat: 38.8756, lng: -117.176, coords: [
	{ lat: 39.163534, lng: -117.045548 },
	{ lat: 39.043663, lng: -116.957019 },
	{ lat: 38.713191, lng: -117.032901 },
	{ lat: 38.543831, lng: -117.234703 },
	{ lat: 38.862206, lng: -117.362823 },
	{ lat: 39.163534, lng: -117.298488 },
	{ lat: 39.163534, lng: -117.045548 },
	]},
	{ zip: 89046, lat: 35.5289, lng: -114.941, coords: [
	{ lat: 35.231964, lng: -114.594228 },
	{ lat: 35.222066, lng: -114.906554 },
	{ lat: 35.590479, lng: -115.370094 },
	{ lat: 35.804378, lng: -115.003331 },
	{ lat: 35.749941, lng: -114.699803 },
	{ lat: 35.231964, lng: -114.594228 },
	]},
	{ zip: 89047, lat: 37.7187, lng: -117.884, coords: [
	{ lat: 37.217544, lng: -117.496442 },
	{ lat: 37.257685, lng: -117.551978 },
	{ lat: 37.464986, lng: -117.832962 },
	{ lat: 37.896084, lng: -118.427921 },
	{ lat: 38.258448, lng: -117.938537 },
	{ lat: 37.842747, lng: -118.061708 },
	{ lat: 37.791609, lng: -117.796121 },
	{ lat: 37.985163, lng: -117.648206 },
	{ lat: 37.707478, lng: -117.63171 },
	{ lat: 37.4045, lng: -117.456301 },
	{ lat: 37.217544, lng: -117.496442 },
	]},
	{ zip: 89048, lat: 36.1654, lng: -116.0, coords: [
	{ lat: 36.244274, lng: -115.897969 },
	{ lat: 36.158495, lng: -115.900719 },
	{ lat: 36.054019, lng: -115.962854 },
	{ lat: 36.166743, lng: -116.10802 },
	{ lat: 36.21953, lng: -116.104171 },
	{ lat: 36.21953, lng: -115.961204 },
	{ lat: 36.244274, lng: -115.897969 },
	]},
	{ zip: 89049, lat: 38.4401, lng: -116.353, coords: [
	{ lat: 38.258448, lng: -117.938537 },
	{ lat: 38.473997, lng: -117.691096 },
	{ lat: 38.289241, lng: -117.484894 },
	{ lat: 38.543831, lng: -117.234703 },
	{ lat: 38.713191, lng: -117.032901 },
	{ lat: 39.043663, lng: -116.957019 },
	{ lat: 39.163534, lng: -117.045548 },
	{ lat: 39.161335, lng: -116.600703 },
	{ lat: 39.161885, lng: -115.907317 },
	{ lat: 38.946886, lng: -115.500963 },
	{ lat: 38.677449, lng: -115.000581 },
	{ lat: 38.054446, lng: -115.000581 },
	{ lat: 38.051147, lng: -115.359647 },
	{ lat: 38.051697, lng: -115.870476 },
	{ lat: 37.711328, lng: -115.89522 },
	{ lat: 37.74377, lng: -116.224592 },
	{ lat: 37.892235, lng: -116.366459 },
	{ lat: 37.863092, lng: -117.098336 },
	{ lat: 37.760816, lng: -117.16542 },
	{ lat: 38.005508, lng: -117.169819 },
	{ lat: 38.035201, lng: -117.444204 },
	{ lat: 38.120431, lng: -117.444204 },
	{ lat: 37.985163, lng: -117.648206 },
	{ lat: 37.791609, lng: -117.796121 },
	{ lat: 37.842747, lng: -118.061708 },
	{ lat: 38.258448, lng: -117.938537 },
	]},
	{ zip: 89052, lat: 35.9815, lng: -115.109, coords: [
	{ lat: 35.977587, lng: -115.155095 },
	{ lat: 36.00728, lng: -115.113855 },
	{ lat: 36.023227, lng: -115.084712 },
	{ lat: 35.984186, lng: -115.083612 },
	{ lat: 35.977587, lng: -115.155095 },
	]},
	{ zip: 89060, lat: 36.2662, lng: -116.031, coords: [
	{ lat: 36.21953, lng: -116.104171 },
	{ lat: 36.344901, lng: -116.032688 },
	{ lat: 36.21953, lng: -115.961204 },
	{ lat: 36.21953, lng: -116.104171 },
	]},
	{ zip: 89061, lat: 36.093, lng: -115.926, coords: [
	{ lat: 36.003981, lng: -115.898519 },
	{ lat: 36.054019, lng: -115.962854 },
	{ lat: 36.158495, lng: -115.900719 },
	{ lat: 36.003981, lng: -115.898519 },
	]},
	{ zip: 89074, lat: 36.0364, lng: -115.082, coords: [
	{ lat: 36.00728, lng: -115.113855 },
	{ lat: 36.05292, lng: -115.118254 },
	{ lat: 36.055119, lng: -115.100108 },
	{ lat: 36.031475, lng: -115.029725 },
	{ lat: 36.023227, lng: -115.084712 },
	{ lat: 36.00728, lng: -115.113855 },
	]},
	{ zip: 89101, lat: 36.1726, lng: -115.122, coords: [
	{ lat: 36.187638, lng: -115.098458 },
	{ lat: 36.159045, lng: -115.097908 },
	{ lat: 36.159045, lng: -115.153445 },
	{ lat: 36.159045, lng: -115.153995 },
	{ lat: 36.188188, lng: -115.1353 },
	{ lat: 36.187638, lng: -115.098458 },
	]},
	{ zip: 89102, lat: 36.1451, lng: -115.186, coords: [
	{ lat: 36.143648, lng: -115.157294 },
	{ lat: 36.126052, lng: -115.180389 },
	{ lat: 36.126052, lng: -115.208432 },
	{ lat: 36.159045, lng: -115.205683 },
	{ lat: 36.159045, lng: -115.172691 },
	{ lat: 36.159045, lng: -115.153995 },
	{ lat: 36.159045, lng: -115.153445 },
	{ lat: 36.143648, lng: -115.157294 },
	]},
	{ zip: 89103, lat: 36.1131, lng: -115.212, coords: [
	{ lat: 36.099659, lng: -115.243074 },
	{ lat: 36.125502, lng: -115.243074 },
	{ lat: 36.126052, lng: -115.208432 },
	{ lat: 36.126052, lng: -115.180389 },
	{ lat: 36.100758, lng: -115.180389 },
	{ lat: 36.099659, lng: -115.243074 },
	]},
	{ zip: 89104, lat: 36.1516, lng: -115.11, coords: [
	{ lat: 36.144198, lng: -115.065466 },
	{ lat: 36.144198, lng: -115.118804 },
	{ lat: 36.143648, lng: -115.157294 },
	{ lat: 36.159045, lng: -115.153445 },
	{ lat: 36.159045, lng: -115.097908 },
	{ lat: 36.159045, lng: -115.062167 },
	{ lat: 36.144198, lng: -115.065466 },
	]},
	{ zip: 89106, lat: 36.1816, lng: -115.162, coords: [
	{ lat: 36.159045, lng: -115.172691 },
	{ lat: 36.181039, lng: -115.179289 },
	{ lat: 36.195886, lng: -115.192486 },
	{ lat: 36.203034, lng: -115.160594 },
	{ lat: 36.188188, lng: -115.1353 },
	{ lat: 36.159045, lng: -115.153995 },
	{ lat: 36.159045, lng: -115.172691 },
	]},
	{ zip: 89107, lat: 36.17, lng: -115.209, coords: [
	{ lat: 36.159045, lng: -115.205683 },
	{ lat: 36.159045, lng: -115.243624 },
	{ lat: 36.17774, lng: -115.244174 },
	{ lat: 36.181039, lng: -115.244724 },
	{ lat: 36.181039, lng: -115.179289 },
	{ lat: 36.159045, lng: -115.172691 },
	{ lat: 36.159045, lng: -115.205683 },
	]},
	{ zip: 89108, lat: 36.206, lng: -115.224, coords: [
	{ lat: 36.181039, lng: -115.244724 },
	{ lat: 36.21843, lng: -115.246923 },
	{ lat: 36.248123, lng: -115.246923 },
	{ lat: 36.254722, lng: -115.246923 },
	{ lat: 36.217331, lng: -115.212281 },
	{ lat: 36.195886, lng: -115.192486 },
	{ lat: 36.181039, lng: -115.179289 },
	{ lat: 36.181039, lng: -115.244724 },
	]},
	{ zip: 89109, lat: 36.126, lng: -115.153, coords: [
	{ lat: 36.118354, lng: -115.118804 },
	{ lat: 36.100758, lng: -115.180389 },
	{ lat: 36.126052, lng: -115.180389 },
	{ lat: 36.143648, lng: -115.157294 },
	{ lat: 36.144198, lng: -115.118804 },
	{ lat: 36.118354, lng: -115.118804 },
	]},
	{ zip: 89110, lat: 36.1739, lng: -115.049, coords: [
	{ lat: 36.187638, lng: -115.098458 },
	{ lat: 36.188188, lng: -115.098458 },
	{ lat: 36.188737, lng: -115.062167 },
	{ lat: 36.188188, lng: -115.000032 },
	{ lat: 36.157395, lng: -115.003881 },
	{ lat: 36.159045, lng: -115.062167 },
	{ lat: 36.159045, lng: -115.097908 },
	{ lat: 36.187638, lng: -115.098458 },
	]},
	{ zip: 89113, lat: 36.0598, lng: -115.264, coords: [
	{ lat: 36.020477, lng: -115.286514 },
	{ lat: 36.100208, lng: -115.279366 },
	{ lat: 36.099659, lng: -115.243074 },
	{ lat: 36.055669, lng: -115.243074 },
	{ lat: 36.022677, lng: -115.243624 },
	{ lat: 36.020477, lng: -115.286514 },
	]},
	{ zip: 89115, lat: 36.24, lng: -115.062, coords: [
	{ lat: 36.21843, lng: -115.052269 },
	{ lat: 36.188737, lng: -115.062167 },
	{ lat: 36.188188, lng: -115.098458 },
	{ lat: 36.240425, lng: -115.097908 },
	{ lat: 36.276717, lng: -115.072614 },
	{ lat: 36.273417, lng: -114.997832 },
	{ lat: 36.21843, lng: -115.052269 },
	]},
	{ zip: 89117, lat: 36.1425, lng: -115.279, coords: [
	{ lat: 36.159045, lng: -115.243624 },
	{ lat: 36.125502, lng: -115.243074 },
	{ lat: 36.126052, lng: -115.315107 },
	{ lat: 36.159045, lng: -115.316207 },
	{ lat: 36.159045, lng: -115.243624 },
	]},
	{ zip: 89118, lat: 36.0785, lng: -115.212, coords: [
	{ lat: 36.057319, lng: -115.180389 },
	{ lat: 36.055669, lng: -115.243074 },
	{ lat: 36.099659, lng: -115.243074 },
	{ lat: 36.100758, lng: -115.180389 },
	{ lat: 36.057319, lng: -115.180389 },
	]},
	{ zip: 89119, lat: 36.0849, lng: -115.147, coords: [
	{ lat: 36.100758, lng: -115.180389 },
	{ lat: 36.118354, lng: -115.118804 },
	{ lat: 36.100208, lng: -115.118804 },
	{ lat: 36.056769, lng: -115.118254 },
	{ lat: 36.057319, lng: -115.180389 },
	{ lat: 36.100758, lng: -115.180389 },
	]},
	{ zip: 89120, lat: 36.0816, lng: -115.096, coords: [
	{ lat: 36.055119, lng: -115.100108 },
	{ lat: 36.05292, lng: -115.118254 },
	{ lat: 36.056769, lng: -115.118254 },
	{ lat: 36.100208, lng: -115.118804 },
	{ lat: 36.100208, lng: -115.063817 },
	{ lat: 36.085912, lng: -115.059967 },
	{ lat: 36.055119, lng: -115.100108 },
	]},
	{ zip: 89121, lat: 36.122, lng: -115.092, coords: [
	{ lat: 36.13705, lng: -115.065466 },
	{ lat: 36.100208, lng: -115.063817 },
	{ lat: 36.100208, lng: -115.118804 },
	{ lat: 36.118354, lng: -115.118804 },
	{ lat: 36.144198, lng: -115.118804 },
	{ lat: 36.144198, lng: -115.065466 },
	{ lat: 36.13705, lng: -115.065466 },
	]},
	{ zip: 89122, lat: 36.1082, lng: -115.027, coords: [
	{ lat: 36.085912, lng: -115.059967 },
	{ lat: 36.100208, lng: -115.063817 },
	{ lat: 36.13705, lng: -115.065466 },
	{ lat: 36.138699, lng: -115.00883 },
	{ lat: 36.082613, lng: -115.044021 },
	{ lat: 36.085912, lng: -115.059967 },
	]},
	{ zip: 89123, lat: 36.0184, lng: -115.152, coords: [
	{ lat: 35.977587, lng: -115.155095 },
	{ lat: 35.962191, lng: -115.181489 },
	{ lat: 36.013329, lng: -115.180389 },
	{ lat: 36.057319, lng: -115.180389 },
	{ lat: 36.056769, lng: -115.118254 },
	{ lat: 36.05292, lng: -115.118254 },
	{ lat: 36.00728, lng: -115.113855 },
	{ lat: 35.977587, lng: -115.155095 },
	]},
	{ zip: 89124, lat: 36.0566, lng: -115.489, coords: [
	{ lat: 35.984186, lng: -115.083612 },
	{ lat: 35.998482, lng: -114.999482 },
	{ lat: 35.942396, lng: -114.974188 },
	{ lat: 35.804378, lng: -115.003331 },
	{ lat: 35.590479, lng: -115.370094 },
	{ lat: 35.606975, lng: -115.390989 },
	{ lat: 35.860465, lng: -115.258471 },
	{ lat: 35.947894, lng: -115.34425 },
	{ lat: 35.946245, lng: -115.623584 },
	{ lat: 35.852217, lng: -115.702766 },
	{ lat: 36.003981, lng: -115.898519 },
	{ lat: 36.158495, lng: -115.900719 },
	{ lat: 36.244274, lng: -115.897969 },
	{ lat: 36.420233, lng: -115.442677 },
	{ lat: 36.337752, lng: -115.322255 },
	{ lat: 36.247574, lng: -115.333803 },
	{ lat: 36.213482, lng: -115.332703 },
	{ lat: 36.189837, lng: -115.341501 },
	{ lat: 36.159045, lng: -115.336002 },
	{ lat: 36.096909, lng: -115.314007 },
	{ lat: 36.020477, lng: -115.286514 },
	{ lat: 36.022677, lng: -115.243624 },
	{ lat: 36.01003, lng: -115.237575 },
	{ lat: 35.962191, lng: -115.181489 },
	{ lat: 35.977587, lng: -115.155095 },
	{ lat: 35.984186, lng: -115.083612 },
	]},
	{ zip: 89128, lat: 36.1972, lng: -115.265, coords: [
	{ lat: 36.17774, lng: -115.287064 },
	{ lat: 36.21843, lng: -115.278816 },
	{ lat: 36.21843, lng: -115.246923 },
	{ lat: 36.181039, lng: -115.244724 },
	{ lat: 36.17774, lng: -115.244174 },
	{ lat: 36.17774, lng: -115.287064 },
	]},
	{ zip: 89129, lat: 36.2332, lng: -115.29, coords: [
	{ lat: 36.21843, lng: -115.278816 },
	{ lat: 36.213482, lng: -115.332703 },
	{ lat: 36.247574, lng: -115.333803 },
	{ lat: 36.248123, lng: -115.246923 },
	{ lat: 36.21843, lng: -115.246923 },
	{ lat: 36.21843, lng: -115.278816 },
	]},
	{ zip: 89130, lat: 36.2553, lng: -115.227, coords: [
	{ lat: 36.238776, lng: -115.207333 },
	{ lat: 36.217331, lng: -115.212281 },
	{ lat: 36.254722, lng: -115.246923 },
	{ lat: 36.277267, lng: -115.267268 },
	{ lat: 36.276167, lng: -115.206233 },
	{ lat: 36.276167, lng: -115.205683 },
	{ lat: 36.238776, lng: -115.207333 },
	]},
	{ zip: 89131, lat: 36.3046, lng: -115.241, coords: [
	{ lat: 36.276167, lng: -115.206233 },
	{ lat: 36.277267, lng: -115.267268 },
	{ lat: 36.298711, lng: -115.286514 },
	{ lat: 36.336103, lng: -115.256271 },
	{ lat: 36.336103, lng: -115.207333 },
	{ lat: 36.276167, lng: -115.206233 },
	]},
	{ zip: 89134, lat: 36.2026, lng: -115.308, coords: [
	{ lat: 36.17774, lng: -115.287064 },
	{ lat: 36.17719, lng: -115.287064 },
	{ lat: 36.189837, lng: -115.341501 },
	{ lat: 36.213482, lng: -115.332703 },
	{ lat: 36.21843, lng: -115.278816 },
	{ lat: 36.17774, lng: -115.287064 },
	]},
	{ zip: 89135, lat: 36.1354, lng: -115.345, coords: [
	{ lat: 36.126052, lng: -115.315107 },
	{ lat: 36.096909, lng: -115.314007 },
	{ lat: 36.159045, lng: -115.336002 },
	{ lat: 36.159045, lng: -115.323355 },
	{ lat: 36.159045, lng: -115.316207 },
	{ lat: 36.126052, lng: -115.315107 },
	]},
	{ zip: 89139, lat: 36.0351, lng: -115.212, coords: [
	{ lat: 36.013329, lng: -115.180389 },
	{ lat: 36.01003, lng: -115.237575 },
	{ lat: 36.022677, lng: -115.243624 },
	{ lat: 36.055669, lng: -115.243074 },
	{ lat: 36.057319, lng: -115.180389 },
	{ lat: 36.013329, lng: -115.180389 },
	]},
	{ zip: 89141, lat: 35.9889, lng: -115.207, coords: [
	{ lat: 36.01003, lng: -115.237575 },
	{ lat: 36.013329, lng: -115.180389 },
	{ lat: 35.962191, lng: -115.181489 },
	{ lat: 36.01003, lng: -115.237575 },
	]},
	{ zip: 89142, lat: 36.1483, lng: -115.036, coords: [
	{ lat: 36.144198, lng: -115.065466 },
	{ lat: 36.159045, lng: -115.062167 },
	{ lat: 36.157395, lng: -115.003881 },
	{ lat: 36.138699, lng: -115.00883 },
	{ lat: 36.13705, lng: -115.065466 },
	{ lat: 36.144198, lng: -115.065466 },
	]},
	{ zip: 89143, lat: 36.324, lng: -115.284, coords: [
	{ lat: 36.298711, lng: -115.286514 },
	{ lat: 36.337752, lng: -115.322255 },
	{ lat: 36.336103, lng: -115.256271 },
	{ lat: 36.298711, lng: -115.286514 },
	]},
	{ zip: 89144, lat: 36.1784, lng: -115.322, coords: [
	{ lat: 36.17719, lng: -115.287064 },
	{ lat: 36.159045, lng: -115.323355 },
	{ lat: 36.159045, lng: -115.336002 },
	{ lat: 36.189837, lng: -115.341501 },
	{ lat: 36.17719, lng: -115.287064 },
	]},
	{ zip: 89145, lat: 36.1678, lng: -115.279, coords: [
	{ lat: 36.159045, lng: -115.316207 },
	{ lat: 36.159045, lng: -115.323355 },
	{ lat: 36.17719, lng: -115.287064 },
	{ lat: 36.17774, lng: -115.287064 },
	{ lat: 36.17774, lng: -115.244174 },
	{ lat: 36.159045, lng: -115.243624 },
	{ lat: 36.159045, lng: -115.243624 },
	{ lat: 36.159045, lng: -115.316207 },
	]},
	{ zip: 89146, lat: 36.1426, lng: -115.226, coords: [
	{ lat: 36.159045, lng: -115.243624 },
	{ lat: 36.159045, lng: -115.243624 },
	{ lat: 36.159045, lng: -115.205683 },
	{ lat: 36.126052, lng: -115.208432 },
	{ lat: 36.125502, lng: -115.243074 },
	{ lat: 36.159045, lng: -115.243624 },
	]},
	{ zip: 89147, lat: 36.1128, lng: -115.279, coords: [
	{ lat: 36.100208, lng: -115.279366 },
	{ lat: 36.096909, lng: -115.314007 },
	{ lat: 36.126052, lng: -115.315107 },
	{ lat: 36.125502, lng: -115.243074 },
	{ lat: 36.099659, lng: -115.243074 },
	{ lat: 36.100208, lng: -115.279366 },
	]},
	{ zip: 89148, lat: 36.0619, lng: -115.315, coords: [
	{ lat: 36.096909, lng: -115.314007 },
	{ lat: 36.100208, lng: -115.279366 },
	{ lat: 36.020477, lng: -115.286514 },
	{ lat: 36.096909, lng: -115.314007 },
	]},
	{ zip: 89149, lat: 36.2813, lng: -115.302, coords: [
	{ lat: 36.248123, lng: -115.246923 },
	{ lat: 36.247574, lng: -115.333803 },
	{ lat: 36.337752, lng: -115.322255 },
	{ lat: 36.298711, lng: -115.286514 },
	{ lat: 36.277267, lng: -115.267268 },
	{ lat: 36.254722, lng: -115.246923 },
	{ lat: 36.248123, lng: -115.246923 },
	]},
	{ zip: 89156, lat: 36.2098, lng: -115.027, coords: [
	{ lat: 36.188188, lng: -115.000032 },
	{ lat: 36.188737, lng: -115.062167 },
	{ lat: 36.21843, lng: -115.052269 },
	{ lat: 36.243724, lng: -115.000581 },
	{ lat: 36.188188, lng: -115.000032 },
	]},
	{ zip: 89191, lat: 36.2477, lng: -114.983, coords: [
	{ lat: 36.273417, lng: -114.997832 },
	{ lat: 36.242075, lng: -114.918651 },
	{ lat: 36.243724, lng: -115.000581 },
	{ lat: 36.21843, lng: -115.052269 },
	{ lat: 36.273417, lng: -114.997832 },
	]},
	{ zip: 89301, lat: 39.5561, lng: -115.028, coords: [
	{ lat: 39.528648, lng: -114.047657 },
	{ lat: 39.584735, lng: -114.536491 },
	{ lat: 38.892448, lng: -114.509548 },
	{ lat: 38.677449, lng: -114.631619 },
	{ lat: 38.677449, lng: -114.951093 },
	{ lat: 39.05466, lng: -114.934047 },
	{ lat: 38.946886, lng: -115.500963 },
	{ lat: 39.161885, lng: -115.907317 },
	{ lat: 40.128006, lng: -115.834734 },
	{ lat: 40.128006, lng: -115.530656 },
	{ lat: 40.122508, lng: -114.935697 },
	{ lat: 40.117009, lng: -114.046557 },
	{ lat: 39.542945, lng: -114.047657 },
	{ lat: 39.528648, lng: -114.047657 },
	]},
	{ zip: 89310, lat: 39.7066, lng: -117.088, coords: [
	{ lat: 39.163534, lng: -117.045548 },
	{ lat: 39.163534, lng: -117.298488 },
	{ lat: 39.093151, lng: -117.775226 },
	{ lat: 39.370285, lng: -117.763128 },
	{ lat: 39.535246, lng: -117.476096 },
	{ lat: 40.000986, lng: -117.541531 },
	{ lat: 40.360601, lng: -117.37712 },
	{ lat: 40.304515, lng: -116.594655 },
	{ lat: 40.06972, lng: -116.590256 },
	{ lat: 39.161335, lng: -116.600703 },
	{ lat: 39.163534, lng: -117.045548 },
	]},
	{ zip: 89311, lat: 39.117, lng: -114.293, coords: [
	{ lat: 38.677449, lng: -114.631619 },
	{ lat: 38.892448, lng: -114.509548 },
	{ lat: 39.584735, lng: -114.536491 },
	{ lat: 39.528648, lng: -114.047657 },
	{ lat: 38.677449, lng: -114.049856 },
	{ lat: 38.677449, lng: -114.631619 },
	]},
	{ zip: 89316, lat: 39.6662, lng: -116.216, coords: [
	{ lat: 39.161885, lng: -115.907317 },
	{ lat: 39.161335, lng: -116.600703 },
	{ lat: 40.06972, lng: -116.590256 },
	{ lat: 40.084017, lng: -116.272431 },
	{ lat: 40.277021, lng: -116.044785 },
	{ lat: 40.128006, lng: -115.935361 },
	{ lat: 40.128006, lng: -115.834734 },
	{ lat: 39.161885, lng: -115.907317 },
	]},
	{ zip: 89317, lat: 38.8993, lng: -115.155, coords: [
	{ lat: 38.677449, lng: -115.000581 },
	{ lat: 38.946886, lng: -115.500963 },
	{ lat: 39.05466, lng: -114.934047 },
	{ lat: 38.677449, lng: -114.951093 },
	{ lat: 38.677449, lng: -115.000581 },
	]},
	{ zip: 89403, lat: 39.2348, lng: -119.458, coords: [
	{ lat: 39.292754, lng: -119.314862 },
	{ lat: 39.153637, lng: -119.306614 },
	{ lat: 39.158585, lng: -119.523812 },
	{ lat: 39.274608, lng: -119.629387 },
	{ lat: 39.336193, lng: -119.482022 },
	{ lat: 39.292754, lng: -119.314862 },
	]},
	{ zip: 89404, lat: 41.5295, lng: -118.957, coords: [
	{ lat: 40.961059, lng: -118.879365 },
	{ lat: 40.96051, lng: -119.309363 },
	{ lat: 41.994265, lng: -119.324209 },
	{ lat: 41.995365, lng: -118.481809 },
	{ lat: 41.864496, lng: -118.588483 },
	{ lat: 41.574714, lng: -118.43452 },
	{ lat: 40.961059, lng: -118.879365 },
	]},
	{ zip: 89405, lat: 40.3272, lng: -119.655, coords: [
	{ lat: 39.945999, lng: -119.931266 },
	{ lat: 39.960296, lng: -119.9978 },
	{ lat: 40.078518, lng: -119.99725 },
	{ lat: 40.403491, lng: -119.996151 },
	{ lat: 40.552506, lng: -119.996151 },
	{ lat: 40.461777, lng: -119.848785 },
	{ lat: 40.5789, lng: -119.804796 },
	{ lat: 40.720766, lng: -119.455628 },
	{ lat: 40.517864, lng: -119.336307 },
	{ lat: 40.157699, lng: -119.338506 },
	{ lat: 39.935002, lng: -119.462227 },
	{ lat: 40.19674, lng: -119.581549 },
	{ lat: 40.131855, lng: -119.699771 },
	{ lat: 39.965245, lng: -119.611791 },
	{ lat: 40.118109, lng: -119.738262 },
	{ lat: 39.987789, lng: -119.708019 },
	{ lat: 40.051574, lng: -119.7872 },
	{ lat: 39.945999, lng: -119.931266 },
	]},
	{ zip: 89406, lat: 39.5808, lng: -118.334, coords: [
	{ lat: 39.074455, lng: -118.753994 },
	{ lat: 39.330145, lng: -119.041026 },
	{ lat: 39.503354, lng: -119.117458 },
	{ lat: 39.740348, lng: -119.059722 },
	{ lat: 39.630924, lng: -119.191691 },
	{ lat: 39.875066, lng: -119.205987 },
	{ lat: 39.999337, lng: -119.225233 },
	{ lat: 40.000986, lng: -117.541531 },
	{ lat: 39.535246, lng: -117.476096 },
	{ lat: 39.370285, lng: -117.763128 },
	{ lat: 39.093151, lng: -117.775226 },
	{ lat: 39.073905, lng: -117.864854 },
	{ lat: 39.073905, lng: -118.47741 },
	{ lat: 39.074455, lng: -118.753994 },
	]},
	{ zip: 89408, lat: 39.5887, lng: -119.161, coords: [
	{ lat: 39.503354, lng: -119.117458 },
	{ lat: 39.596832, lng: -119.301115 },
	{ lat: 39.621576, lng: -119.283519 },
	{ lat: 39.630924, lng: -119.191691 },
	{ lat: 39.740348, lng: -119.059722 },
	{ lat: 39.503354, lng: -119.117458 },
	]},
	{ zip: 89409, lat: 38.799, lng: -117.644, coords: [
	{ lat: 38.543831, lng: -117.234703 },
	{ lat: 38.289241, lng: -117.484894 },
	{ lat: 38.473997, lng: -117.691096 },
	{ lat: 38.941387, lng: -118.196426 },
	{ lat: 39.073905, lng: -117.864854 },
	{ lat: 39.093151, lng: -117.775226 },
	{ lat: 39.163534, lng: -117.298488 },
	{ lat: 38.862206, lng: -117.362823 },
	{ lat: 38.543831, lng: -117.234703 },
	]},
	{ zip: 89410, lat: 38.8685, lng: -119.651, coords: [
	{ lat: 38.860556, lng: -119.439682 },
	{ lat: 38.768178, lng: -119.403391 },
	{ lat: 38.808868, lng: -119.5755 },
	{ lat: 38.67525, lng: -119.530411 },
	{ lat: 38.713191, lng: -119.585398 },
	{ lat: 38.933139, lng: -119.904322 },
	{ lat: 38.956783, lng: -119.938964 },
	{ lat: 38.984277, lng: -119.832839 },
	{ lat: 38.982077, lng: -119.581549 },
	{ lat: 38.860556, lng: -119.439682 },
	]},
	{ zip: 89412, lat: 41.3002, lng: -119.666, coords: [
	{ lat: 40.96051, lng: -119.309363 },
	{ lat: 40.517864, lng: -119.336307 },
	{ lat: 40.720766, lng: -119.455628 },
	{ lat: 40.5789, lng: -119.804796 },
	{ lat: 40.461777, lng: -119.848785 },
	{ lat: 40.552506, lng: -119.996151 },
	{ lat: 41.183757, lng: -120.0 },
	{ lat: 41.581313, lng: -119.99835 },
	{ lat: 41.755622, lng: -119.99835 },
	{ lat: 41.994815, lng: -119.9989 },
	{ lat: 41.994265, lng: -119.359951 },
	{ lat: 41.994265, lng: -119.324209 },
	{ lat: 40.96051, lng: -119.309363 },
	]},
	{ zip: 89413, lat: 39.0325, lng: -119.904, coords: [
	{ lat: 38.956783, lng: -119.938964 },
	{ lat: 38.964481, lng: -119.949412 },
	{ lat: 39.112946, lng: -119.95711 },
	{ lat: 39.112946, lng: -119.881228 },
	{ lat: 39.044762, lng: -119.826241 },
	{ lat: 38.984277, lng: -119.832839 },
	{ lat: 38.956783, lng: -119.938964 },
	]},
	{ zip: 89414, lat: 41.0097, lng: -117.298, coords: [
	{ lat: 40.829091, lng: -117.644357 },
	{ lat: 41.335521, lng: -117.505789 },
	{ lat: 41.436147, lng: -117.412861 },
	{ lat: 41.388308, lng: -117.018055 },
	{ lat: 41.147465, lng: -117.018055 },
	{ lat: 41.0001, lng: -117.018604 },
	{ lat: 40.653682, lng: -117.018604 },
	{ lat: 40.644884, lng: -117.230854 },
	{ lat: 40.526112, lng: -117.300688 },
	{ lat: 40.670728, lng: -117.299588 },
	{ lat: 40.683375, lng: -117.62786 },
	{ lat: 40.829091, lng: -117.644357 },
	]},
	{ zip: 89415, lat: 38.5765, lng: -118.639, coords: [
	{ lat: 38.414611, lng: -119.157049 },
	{ lat: 38.42231, lng: -118.906858 },
	{ lat: 38.84461, lng: -118.901909 },
	{ lat: 38.952384, lng: -119.009134 },
	{ lat: 39.069507, lng: -118.932152 },
	{ lat: 38.873753, lng: -118.846372 },
	{ lat: 38.774226, lng: -118.619276 },
	{ lat: 38.857807, lng: -118.458164 },
	{ lat: 39.073905, lng: -118.47741 },
	{ lat: 39.073905, lng: -117.864854 },
	{ lat: 38.941387, lng: -118.196426 },
	{ lat: 38.806119, lng: -118.455965 },
	{ lat: 38.539982, lng: -118.309699 },
	{ lat: 38.488844, lng: -118.454865 },
	{ lat: 38.361824, lng: -118.333344 },
	{ lat: 38.316185, lng: -118.468062 },
	{ lat: 38.034651, lng: -118.621476 },
	{ lat: 38.225456, lng: -118.888163 },
	{ lat: 38.414611, lng: -119.157049 },
	]},
	{ zip: 89418, lat: 40.5917, lng: -117.972, coords: [
	{ lat: 40.526112, lng: -117.300688 },
	{ lat: 40.45298, lng: -117.33478 },
	{ lat: 40.241829, lng: -117.505789 },
	{ lat: 40.387545, lng: -117.621812 },
	{ lat: 40.334757, lng: -118.319597 },
	{ lat: 40.525012, lng: -118.354239 },
	{ lat: 40.642685, lng: -118.639071 },
	{ lat: 40.856034, lng: -118.614327 },
	{ lat: 40.857684, lng: -117.830762 },
	{ lat: 40.755408, lng: -117.775226 },
	{ lat: 40.829091, lng: -117.644357 },
	{ lat: 40.683375, lng: -117.62786 },
	{ lat: 40.670728, lng: -117.299588 },
	{ lat: 40.526112, lng: -117.300688 },
	]},
	{ zip: 89419, lat: 40.3623, lng: -118.626, coords: [
	{ lat: 40.000986, lng: -117.541531 },
	{ lat: 39.999337, lng: -119.225233 },
	{ lat: 39.998787, lng: -119.339056 },
	{ lat: 40.157699, lng: -119.338506 },
	{ lat: 40.517864, lng: -119.336307 },
	{ lat: 40.96051, lng: -119.309363 },
	{ lat: 40.961059, lng: -118.879365 },
	{ lat: 40.856034, lng: -118.614327 },
	{ lat: 40.642685, lng: -118.639071 },
	{ lat: 40.525012, lng: -118.354239 },
	{ lat: 40.334757, lng: -118.319597 },
	{ lat: 40.387545, lng: -117.621812 },
	{ lat: 40.241829, lng: -117.505789 },
	{ lat: 40.45298, lng: -117.33478 },
	{ lat: 40.360601, lng: -117.37712 },
	{ lat: 40.000986, lng: -117.541531 },
	]},
	{ zip: 89420, lat: 38.4153, lng: -118.192, coords: [
	{ lat: 37.896084, lng: -118.427921 },
	{ lat: 37.901033, lng: -118.43507 },
	{ lat: 37.987912, lng: -118.554941 },
	{ lat: 38.034651, lng: -118.621476 },
	{ lat: 38.316185, lng: -118.468062 },
	{ lat: 38.361824, lng: -118.333344 },
	{ lat: 38.488844, lng: -118.454865 },
	{ lat: 38.539982, lng: -118.309699 },
	{ lat: 38.806119, lng: -118.455965 },
	{ lat: 38.941387, lng: -118.196426 },
	{ lat: 38.473997, lng: -117.691096 },
	{ lat: 38.258448, lng: -117.938537 },
	{ lat: 37.896084, lng: -118.427921 },
	]},
	{ zip: 89423, lat: 39.009, lng: -119.562, coords: [
	{ lat: 39.034315, lng: -119.311013 },
	{ lat: 38.879801, lng: -119.439682 },
	{ lat: 38.860556, lng: -119.439682 },
	{ lat: 38.982077, lng: -119.581549 },
	{ lat: 38.984277, lng: -119.832839 },
	{ lat: 39.044762, lng: -119.826241 },
	{ lat: 39.084903, lng: -119.752008 },
	{ lat: 39.086003, lng: -119.550756 },
	{ lat: 39.084903, lng: -119.396242 },
	{ lat: 39.034315, lng: -119.311013 },
	]},
	{ zip: 89424, lat: 39.9027, lng: -119.366, coords: [
	{ lat: 39.935002, lng: -119.462227 },
	{ lat: 40.157699, lng: -119.338506 },
	{ lat: 39.998787, lng: -119.339056 },
	{ lat: 39.999337, lng: -119.225233 },
	{ lat: 39.875066, lng: -119.205987 },
	{ lat: 39.794785, lng: -119.40449 },
	{ lat: 39.933902, lng: -119.584298 },
	{ lat: 39.847573, lng: -119.44793 },
	{ lat: 39.935002, lng: -119.462227 },
	]},
	{ zip: 89425, lat: 41.7381, lng: -118.092, coords: [
	{ lat: 41.999214, lng: -117.529984 },
	{ lat: 41.672041, lng: -117.771926 },
	{ lat: 41.396007, lng: -117.782374 },
	{ lat: 41.446045, lng: -118.317947 },
	{ lat: 41.574714, lng: -118.43452 },
	{ lat: 41.864496, lng: -118.588483 },
	{ lat: 41.995365, lng: -118.481809 },
	{ lat: 41.997015, lng: -118.196976 },
	{ lat: 41.999214, lng: -117.529984 },
	]},
	{ zip: 89426, lat: 41.6702, lng: -117.379, coords: [
	{ lat: 41.335521, lng: -117.505789 },
	{ lat: 41.304728, lng: -117.695494 },
	{ lat: 41.396007, lng: -117.782374 },
	{ lat: 41.672041, lng: -117.771926 },
	{ lat: 41.999214, lng: -117.529984 },
	{ lat: 42.000314, lng: -117.026303 },
	{ lat: 41.999214, lng: -117.018055 },
	{ lat: 41.388308, lng: -117.018055 },
	{ lat: 41.436147, lng: -117.412861 },
	{ lat: 41.335521, lng: -117.505789 },
	]},
	{ zip: 89427, lat: 38.9587, lng: -118.68, coords: [
	{ lat: 39.069507, lng: -118.932152 },
	{ lat: 39.074455, lng: -118.753994 },
	{ lat: 39.073905, lng: -118.47741 },
	{ lat: 38.857807, lng: -118.458164 },
	{ lat: 38.774226, lng: -118.619276 },
	{ lat: 38.873753, lng: -118.846372 },
	{ lat: 39.069507, lng: -118.932152 },
	]},
	{ zip: 89429, lat: 39.3966, lng: -119.266, coords: [
	{ lat: 39.336193, lng: -119.482022 },
	{ lat: 39.596832, lng: -119.301115 },
	{ lat: 39.503354, lng: -119.117458 },
	{ lat: 39.330145, lng: -119.041026 },
	{ lat: 39.292754, lng: -119.314862 },
	{ lat: 39.336193, lng: -119.482022 },
	]},
	{ zip: 89430, lat: 38.9433, lng: -119.351, coords: [
	{ lat: 38.867154, lng: -119.297266 },
	{ lat: 38.879801, lng: -119.439682 },
	{ lat: 39.034315, lng: -119.311013 },
	{ lat: 38.867154, lng: -119.297266 },
	]},
	{ zip: 89431, lat: 39.54, lng: -119.751, coords: [
	{ lat: 39.56329, lng: -119.733313 },
	{ lat: 39.52095, lng: -119.695922 },
	{ lat: 39.527548, lng: -119.777852 },
	{ lat: 39.56439, lng: -119.779502 },
	{ lat: 39.566039, lng: -119.750909 },
	{ lat: 39.56329, lng: -119.733313 },
	]},
	{ zip: 89433, lat: 39.6017, lng: -119.776, coords: [
	{ lat: 39.56439, lng: -119.779502 },
	{ lat: 39.578686, lng: -119.802596 },
	{ lat: 39.628724, lng: -119.751458 },
	{ lat: 39.566039, lng: -119.750909 },
	{ lat: 39.56439, lng: -119.779502 },
	]},
	{ zip: 89434, lat: 39.566, lng: -119.638, coords: [
	{ lat: 39.51985, lng: -119.695922 },
	{ lat: 39.52095, lng: -119.695922 },
	{ lat: 39.56329, lng: -119.733313 },
	{ lat: 39.592983, lng: -119.568352 },
	{ lat: 39.566039, lng: -119.475424 },
	{ lat: 39.51985, lng: -119.695922 },
	]},
	{ zip: 89436, lat: 39.6503, lng: -119.666, coords: [
	{ lat: 39.56329, lng: -119.733313 },
	{ lat: 39.566039, lng: -119.750909 },
	{ lat: 39.628724, lng: -119.751458 },
	{ lat: 39.723852, lng: -119.74321 },
	{ lat: 39.713954, lng: -119.568902 },
	{ lat: 39.592983, lng: -119.568352 },
	{ lat: 39.56329, lng: -119.733313 },
	]},
	{ zip: 89440, lat: 39.4517, lng: -119.521, coords: [
	{ lat: 39.311999, lng: -119.677226 },
	{ lat: 39.448917, lng: -119.696471 },
	{ lat: 39.51985, lng: -119.695922 },
	{ lat: 39.566039, lng: -119.475424 },
	{ lat: 39.614428, lng: -119.303864 },
	{ lat: 39.621576, lng: -119.283519 },
	{ lat: 39.596832, lng: -119.301115 },
	{ lat: 39.336193, lng: -119.482022 },
	{ lat: 39.274608, lng: -119.629387 },
	{ lat: 39.250964, lng: -119.712418 },
	{ lat: 39.311999, lng: -119.677226 },
	]},
	{ zip: 89442, lat: 39.7317, lng: -119.266, coords: [
	{ lat: 39.614428, lng: -119.303864 },
	{ lat: 39.794785, lng: -119.40449 },
	{ lat: 39.875066, lng: -119.205987 },
	{ lat: 39.630924, lng: -119.191691 },
	{ lat: 39.621576, lng: -119.283519 },
	{ lat: 39.614428, lng: -119.303864 },
	]},
	{ zip: 89444, lat: 38.7185, lng: -119.338, coords: [
	{ lat: 38.867154, lng: -119.297266 },
	{ lat: 38.721989, lng: -119.11086 },
	{ lat: 38.535033, lng: -119.328608 },
	{ lat: 38.604316, lng: -119.428135 },
	{ lat: 38.67525, lng: -119.530411 },
	{ lat: 38.808868, lng: -119.5755 },
	{ lat: 38.768178, lng: -119.403391 },
	{ lat: 38.860556, lng: -119.439682 },
	{ lat: 38.879801, lng: -119.439682 },
	{ lat: 38.867154, lng: -119.297266 },
	]},
	{ zip: 89445, lat: 41.1321, lng: -118.183, coords: [
	{ lat: 40.961059, lng: -118.879365 },
	{ lat: 41.574714, lng: -118.43452 },
	{ lat: 41.446045, lng: -118.317947 },
	{ lat: 41.396007, lng: -117.782374 },
	{ lat: 41.304728, lng: -117.695494 },
	{ lat: 41.335521, lng: -117.505789 },
	{ lat: 40.829091, lng: -117.644357 },
	{ lat: 40.755408, lng: -117.775226 },
	{ lat: 40.857684, lng: -117.830762 },
	{ lat: 40.856034, lng: -118.614327 },
	{ lat: 40.961059, lng: -118.879365 },
	]},
	{ zip: 89447, lat: 38.8898, lng: -119.089, coords: [
	{ lat: 39.034315, lng: -119.311013 },
	{ lat: 39.084903, lng: -119.396242 },
	{ lat: 39.153637, lng: -119.306614 },
	{ lat: 39.292754, lng: -119.314862 },
	{ lat: 39.330145, lng: -119.041026 },
	{ lat: 39.074455, lng: -118.753994 },
	{ lat: 39.069507, lng: -118.932152 },
	{ lat: 38.952384, lng: -119.009134 },
	{ lat: 38.84461, lng: -118.901909 },
	{ lat: 38.42231, lng: -118.906858 },
	{ lat: 38.414611, lng: -119.157049 },
	{ lat: 38.417911, lng: -119.161448 },
	{ lat: 38.535033, lng: -119.328608 },
	{ lat: 38.721989, lng: -119.11086 },
	{ lat: 38.867154, lng: -119.297266 },
	{ lat: 39.034315, lng: -119.311013 },
	]},
	{ zip: 89451, lat: 39.3021, lng: -119.923, coords: [
	{ lat: 39.324096, lng: -119.813044 },
	{ lat: 39.163534, lng: -119.882877 },
	{ lat: 39.164084, lng: -119.932916 },
	{ lat: 39.22292, lng: -120.005498 },
	{ lat: 39.316398, lng: -120.005498 },
	{ lat: 39.34939, lng: -120.004399 },
	{ lat: 39.382383, lng: -120.004399 },
	{ lat: 39.39173, lng: -119.838338 },
	{ lat: 39.315848, lng: -119.904322 },
	{ lat: 39.324096, lng: -119.813044 },
	]},
	{ zip: 89501, lat: 39.5278, lng: -119.81, coords: [
	{ lat: 39.530847, lng: -119.78775 },
	{ lat: 39.514901, lng: -119.807545 },
	{ lat: 39.523699, lng: -119.819642 },
	{ lat: 39.536896, lng: -119.816343 },
	{ lat: 39.530847, lng: -119.78775 },
	]},
	{ zip: 89502, lat: 39.4934, lng: -119.746, coords: [
	{ lat: 39.47696, lng: -119.793249 },
	{ lat: 39.514901, lng: -119.807545 },
	{ lat: 39.530847, lng: -119.78775 },
	{ lat: 39.527548, lng: -119.777852 },
	{ lat: 39.52095, lng: -119.695922 },
	{ lat: 39.51985, lng: -119.695922 },
	{ lat: 39.448917, lng: -119.696471 },
	{ lat: 39.47696, lng: -119.793249 },
	]},
	{ zip: 89503, lat: 39.5385, lng: -119.841, coords: [
	{ lat: 39.512152, lng: -119.859233 },
	{ lat: 39.547893, lng: -119.87298 },
	{ lat: 39.569338, lng: -119.825141 },
	{ lat: 39.536896, lng: -119.816343 },
	{ lat: 39.523699, lng: -119.819642 },
	{ lat: 39.512152, lng: -119.859233 },
	]},
	{ zip: 89506, lat: 39.7449, lng: -119.889, coords: [
	{ lat: 39.578686, lng: -119.802596 },
	{ lat: 39.569338, lng: -119.825141 },
	{ lat: 39.547893, lng: -119.87298 },
	{ lat: 39.60673, lng: -120.001649 },
	{ lat: 39.722202, lng: -120.001099 },
	{ lat: 39.960296, lng: -119.9978 },
	{ lat: 39.945999, lng: -119.931266 },
	{ lat: 39.723852, lng: -119.74321 },
	{ lat: 39.628724, lng: -119.751458 },
	{ lat: 39.578686, lng: -119.802596 },
	]},
	{ zip: 89509, lat: 39.4522, lng: -119.906, coords: [
	{ lat: 39.47696, lng: -119.793249 },
	{ lat: 39.39173, lng: -119.838338 },
	{ lat: 39.382383, lng: -120.004399 },
	{ lat: 39.445068, lng: -120.003299 },
	{ lat: 39.466513, lng: -120.002749 },
	{ lat: 39.512152, lng: -119.859233 },
	{ lat: 39.523699, lng: -119.819642 },
	{ lat: 39.514901, lng: -119.807545 },
	{ lat: 39.47696, lng: -119.793249 },
	]},
	{ zip: 89510, lat: 39.8057, lng: -119.611, coords: [
	{ lat: 39.723852, lng: -119.74321 },
	{ lat: 39.945999, lng: -119.931266 },
	{ lat: 40.051574, lng: -119.7872 },
	{ lat: 39.987789, lng: -119.708019 },
	{ lat: 40.118109, lng: -119.738262 },
	{ lat: 39.965245, lng: -119.611791 },
	{ lat: 39.933902, lng: -119.584298 },
	{ lat: 39.794785, lng: -119.40449 },
	{ lat: 39.614428, lng: -119.303864 },
	{ lat: 39.566039, lng: -119.475424 },
	{ lat: 39.592983, lng: -119.568352 },
	{ lat: 39.713954, lng: -119.568902 },
	{ lat: 39.723852, lng: -119.74321 },
	]},
	{ zip: 89511, lat: 39.3889, lng: -119.742, coords: [
	{ lat: 39.311999, lng: -119.677226 },
	{ lat: 39.324096, lng: -119.813044 },
	{ lat: 39.315848, lng: -119.904322 },
	{ lat: 39.39173, lng: -119.838338 },
	{ lat: 39.47696, lng: -119.793249 },
	{ lat: 39.448917, lng: -119.696471 },
	{ lat: 39.311999, lng: -119.677226 },
	]},
	{ zip: 89512, lat: 39.5545, lng: -119.801, coords: [
	{ lat: 39.536896, lng: -119.816343 },
	{ lat: 39.569338, lng: -119.825141 },
	{ lat: 39.578686, lng: -119.802596 },
	{ lat: 39.56439, lng: -119.779502 },
	{ lat: 39.527548, lng: -119.777852 },
	{ lat: 39.530847, lng: -119.78775 },
	{ lat: 39.536896, lng: -119.816343 },
	]},
	{ zip: 89523, lat: 39.5495, lng: -119.944, coords: [
	{ lat: 39.466513, lng: -120.002749 },
	{ lat: 39.60673, lng: -120.001649 },
	{ lat: 39.547893, lng: -119.87298 },
	{ lat: 39.512152, lng: -119.859233 },
	{ lat: 39.466513, lng: -120.002749 },
	]},
	{ zip: 89701, lat: 39.1385, lng: -119.66, coords: [
	{ lat: 39.084903, lng: -119.752008 },
	{ lat: 39.116795, lng: -119.772903 },
	{ lat: 39.170683, lng: -119.766855 },
	{ lat: 39.193227, lng: -119.560654 },
	{ lat: 39.086003, lng: -119.550756 },
	{ lat: 39.084903, lng: -119.752008 },
	]},
	{ zip: 89703, lat: 39.1519, lng: -119.844, coords: [
	{ lat: 39.116795, lng: -119.772903 },
	{ lat: 39.112946, lng: -119.881228 },
	{ lat: 39.112946, lng: -119.95711 },
	{ lat: 39.164084, lng: -119.932916 },
	{ lat: 39.163534, lng: -119.882877 },
	{ lat: 39.214122, lng: -119.780602 },
	{ lat: 39.170683, lng: -119.766855 },
	{ lat: 39.116795, lng: -119.772903 },
	]},
	{ zip: 89704, lat: 39.264, lng: -119.791, coords: [
	{ lat: 39.324096, lng: -119.813044 },
	{ lat: 39.311999, lng: -119.677226 },
	{ lat: 39.250964, lng: -119.712418 },
	{ lat: 39.214122, lng: -119.780602 },
	{ lat: 39.163534, lng: -119.882877 },
	{ lat: 39.324096, lng: -119.813044 },
	]},
	{ zip: 89705, lat: 39.0862, lng: -119.831, coords: [
	{ lat: 39.044762, lng: -119.826241 },
	{ lat: 39.112946, lng: -119.881228 },
	{ lat: 39.116795, lng: -119.772903 },
	{ lat: 39.084903, lng: -119.752008 },
	{ lat: 39.044762, lng: -119.826241 },
	]},
	{ zip: 89706, lat: 39.1663, lng: -119.548, coords: [
	{ lat: 39.170683, lng: -119.766855 },
	{ lat: 39.214122, lng: -119.780602 },
	{ lat: 39.250964, lng: -119.712418 },
	{ lat: 39.274608, lng: -119.629387 },
	{ lat: 39.158585, lng: -119.523812 },
	{ lat: 39.153637, lng: -119.306614 },
	{ lat: 39.084903, lng: -119.396242 },
	{ lat: 39.086003, lng: -119.550756 },
	{ lat: 39.193227, lng: -119.560654 },
	{ lat: 39.170683, lng: -119.766855 },
	]},
	{ zip: 89801, lat: 41.1971, lng: -115.843, coords: [
	{ lat: 40.928617, lng: -115.548252 },
	{ lat: 40.734513, lng: -115.950757 },
	{ lat: 40.785651, lng: -116.055232 },
	{ lat: 41.035842, lng: -115.926563 },
	{ lat: 41.137568, lng: -116.005744 },
	{ lat: 41.132619, lng: -116.291126 },
	{ lat: 41.225547, lng: -116.271881 },
	{ lat: 41.332772, lng: -116.10527 },
	{ lat: 41.513679, lng: -116.084375 },
	{ lat: 41.620354, lng: -115.792944 },
	{ lat: 41.325623, lng: -115.497664 },
	{ lat: 40.928617, lng: -115.548252 },
	]},
	{ zip: 89815, lat: 40.5624, lng: -115.606, coords: [
	{ lat: 40.128006, lng: -115.834734 },
	{ lat: 40.128006, lng: -115.935361 },
	{ lat: 40.734513, lng: -115.950757 },
	{ lat: 40.928617, lng: -115.548252 },
	{ lat: 41.031993, lng: -115.341501 },
	{ lat: 40.870881, lng: -115.193586 },
	{ lat: 40.636086, lng: -115.223279 },
	{ lat: 40.128006, lng: -115.530656 },
	{ lat: 40.128006, lng: -115.834734 },
	]},
	{ zip: 89820, lat: 40.615, lng: -116.883, coords: [
	{ lat: 40.45298, lng: -117.33478 },
	{ lat: 40.526112, lng: -117.300688 },
	{ lat: 40.644884, lng: -117.230854 },
	{ lat: 40.653682, lng: -117.018604 },
	{ lat: 41.0001, lng: -117.018604 },
	{ lat: 41.00065, lng: -116.586956 },
	{ lat: 40.393594, lng: -116.594105 },
	{ lat: 40.421637, lng: -116.506126 },
	{ lat: 40.304515, lng: -116.594655 },
	{ lat: 40.360601, lng: -117.37712 },
	{ lat: 40.45298, lng: -117.33478 },
	]},
	{ zip: 89821, lat: 40.548, lng: -116.363, coords: [
	{ lat: 40.06972, lng: -116.590256 },
	{ lat: 40.304515, lng: -116.594655 },
	{ lat: 40.421637, lng: -116.506126 },
	{ lat: 40.393594, lng: -116.594105 },
	{ lat: 41.00065, lng: -116.586956 },
	{ lat: 41.0001, lng: -116.301574 },
	{ lat: 40.991852, lng: -116.157508 },
	{ lat: 40.277021, lng: -116.044785 },
	{ lat: 40.084017, lng: -116.272431 },
	{ lat: 40.06972, lng: -116.590256 },
	]},
	{ zip: 89822, lat: 40.72, lng: -116.061, coords: [
	{ lat: 40.128006, lng: -115.935361 },
	{ lat: 40.277021, lng: -116.044785 },
	{ lat: 40.991852, lng: -116.157508 },
	{ lat: 41.0001, lng: -116.301574 },
	{ lat: 41.132619, lng: -116.291126 },
	{ lat: 41.137568, lng: -116.005744 },
	{ lat: 41.035842, lng: -115.926563 },
	{ lat: 40.785651, lng: -116.055232 },
	{ lat: 40.734513, lng: -115.950757 },
	{ lat: 40.128006, lng: -115.935361 },
	]},
	{ zip: 89823, lat: 41.4581, lng: -115.433, coords: [
	{ lat: 40.928617, lng: -115.548252 },
	{ lat: 41.325623, lng: -115.497664 },
	{ lat: 41.620354, lng: -115.792944 },
	{ lat: 41.76277, lng: -115.560899 },
	{ lat: 41.912884, lng: -115.648878 },
	{ lat: 41.939828, lng: -115.425081 },
	{ lat: 41.696786, lng: -115.391539 },
	{ lat: 41.709982, lng: -115.234276 },
	{ lat: 41.59396, lng: -115.307959 },
	{ lat: 41.589011, lng: -115.202384 },
	{ lat: 41.408654, lng: -115.129251 },
	{ lat: 41.031993, lng: -115.341501 },
	{ lat: 40.928617, lng: -115.548252 },
	]},
	{ zip: 89825, lat: 41.7909, lng: -115.085, coords: [
	{ lat: 41.996465, lng: -114.651414 },
	{ lat: 41.686888, lng: -114.83782 },
	{ lat: 41.531824, lng: -114.792181 },
	{ lat: 41.537323, lng: -115.031374 },
	{ lat: 41.408654, lng: -115.129251 },
	{ lat: 41.589011, lng: -115.202384 },
	{ lat: 41.59396, lng: -115.307959 },
	{ lat: 41.709982, lng: -115.234276 },
	{ lat: 41.696786, lng: -115.391539 },
	{ lat: 41.939828, lng: -115.425081 },
	{ lat: 41.912884, lng: -115.648878 },
	{ lat: 41.997015, lng: -115.711563 },
	{ lat: 41.995915, lng: -115.038523 },
	{ lat: 41.996465, lng: -114.651414 },
	]},
	{ zip: 89831, lat: 41.6461, lng: -116.43, coords: [
	{ lat: 41.225547, lng: -116.271881 },
	{ lat: 41.147465, lng: -117.018055 },
	{ lat: 41.388308, lng: -117.018055 },
	{ lat: 41.999214, lng: -117.018055 },
	{ lat: 41.997015, lng: -115.711563 },
	{ lat: 41.912884, lng: -115.648878 },
	{ lat: 41.76277, lng: -115.560899 },
	{ lat: 41.620354, lng: -115.792944 },
	{ lat: 41.513679, lng: -116.084375 },
	{ lat: 41.332772, lng: -116.10527 },
	{ lat: 41.225547, lng: -116.271881 },
	]},
	{ zip: 89833, lat: 40.3165, lng: -115.236, coords: [
	{ lat: 40.128006, lng: -115.530656 },
	{ lat: 40.636086, lng: -115.223279 },
	{ lat: 40.420537, lng: -115.00553 },
	{ lat: 40.262724, lng: -115.057218 },
	{ lat: 40.122508, lng: -114.935697 },
	{ lat: 40.128006, lng: -115.530656 },
	]},
	{ zip: 89834, lat: 41.1036, lng: -116.642, coords: [
	{ lat: 41.147465, lng: -117.018055 },
	{ lat: 41.225547, lng: -116.271881 },
	{ lat: 41.132619, lng: -116.291126 },
	{ lat: 41.0001, lng: -116.301574 },
	{ lat: 41.00065, lng: -116.586956 },
	{ lat: 41.0001, lng: -117.018604 },
	{ lat: 41.147465, lng: -117.018055 },
	]},
	{ zip: 89835, lat: 41.003, lng: -114.564, coords: [
	{ lat: 40.636086, lng: -115.223279 },
	{ lat: 40.870881, lng: -115.193586 },
	{ lat: 41.031993, lng: -115.341501 },
	{ lat: 41.408654, lng: -115.129251 },
	{ lat: 41.537323, lng: -115.031374 },
	{ lat: 41.531824, lng: -114.792181 },
	{ lat: 41.686888, lng: -114.83782 },
	{ lat: 41.996465, lng: -114.651414 },
	{ lat: 41.994265, lng: -114.281901 },
	{ lat: 41.993715, lng: -114.041608 },
	{ lat: 41.0001, lng: -114.042158 },
	{ lat: 40.117009, lng: -114.046557 },
	{ lat: 40.122508, lng: -114.935697 },
	{ lat: 40.262724, lng: -115.057218 },
	{ lat: 40.420537, lng: -115.00553 },
	{ lat: 40.636086, lng: -115.223279 },
	]},
	];

//	{ zip: 89011, lat: 36.1072, lng: -114.922, coords: [ ]},
//	{ zip: 89084, lat: 36.2837, lng: -115.135, coords: [ ]},
//	{ zip: 89154, lat: 36.1094, lng: -115.144, coords: [ ]},

//					center: {lat: 39.5296, lng: -119.8138},

function initMap() {
	map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: 40., lng: -119.6},
		zoom: 9,
	});

<% @results.each do |result| %>
	console.log(<%=result.zip%>);
	zip_region = nevada_zip_regions.filter( function(result) { 
			return result.zip == <%=result.zip%>
		}).map( function(result){ 
			return result.coords })[0];

	if( typeof(zip_region) != 'undefined' ){

		county = new google.maps.Polygon({
			paths: zip_region,
			strokeColor: heatMapColorforValue(<%=result.weight%>),
			strokeOpacity: 0.7,
			strokeWeight: 3,
			fillColor: heatMapColorforValue(<%=result.weight%>),
			fillOpacity: 0.3
		});
		county.addListener('click', 
			function(){alert("Ave weight <%=result.weight%> in <%=result.zip%>")});

		county.setMap(map);
	} else {
		console.log("<%=result.zip%> is undefined? (<%=result.weight%>)");
	}
/*
Undefined zip regions that exist in CHIRP data?
89432
89439
89441
89450
89452
89508
89513
89515
89519
89521
89595 is just GSR
*/

<% end	#	@results.each %>

}	//	function initMap() {

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTWBy50N3x8Yk-jQpEQ5-nqH61fpi6Ek&callback=initMap" async defer></script>
