<!--
<h1>Birth Weight to Mom Age</h1>
-->

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Weight</th>
		<th>Tot cigs</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result.weight %></td>
		<td><%= result.tot_cigs %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @results.to_sql %></p>




<script type="text/javascript">
//<![CDATA[

var nil=null;	//	ruby arrays will return nil when empty. javascript doesn't know what nil is so tell it.

var data = [{
	mode: 'markers',
	type: 'scatter',
	x: <%=@results.collect{|r| r.weight }%>,
	y: <%=@results.collect{|r| r.tot_cigs }%>
}];

var layout = {
	hovermode: 'closest',
	barmode: 'group',
	title: 'Birth Weight to Total Cigs',
	xaxis: {
		title: 'Birth Weight'
	},
	yaxis: {
		title: 'Total Cigs'
	}
};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
