<!--
<h1>Birth Weight Group to <%=@value%></h1>
-->

<% 
	group_order = [ "Very Low Birth Weight (<1,500g)", "Low Birth Weight (>=1,500g, <2,500g)", "Normal Birth Weight (>=2,500g, <=8,000g)" ]
	sorted_results = @results.sort_by{|r| group_order.index r['birth_weight_group'] }
%>



<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Weight Group</th>
		<th><%=@value%></th>
		<th>Count</th>
		<th>Group Total</th>
	</tr>
</thead>
<tbody>
<% sorted_results.each do |result| %>
	<tr>
		<td><%= result['birth_weight_group'] %></td>
		<td><%= result['value'] %></td>
		<td><%= result['count'] %></td>
		<td><%= result['total'] %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @query.to_sql %></p>




<script type="text/javascript">
//<![CDATA[

var groups = [<%=group_order.collect{|group| "\"#{group}\"" }.join(", ").html_safe %>];
var data = [];

<% sorted_results.collect{|r| r['value'] }.uniq.sort.each_with_index do |value,i| %>
data[<%=i%>] = {
	x: groups,
	y: [<%= group_order.collect{|group| 
			r = sorted_results.find{|r| r['birth_weight_group'] == group and r['value'] == value }
			( r.present? ) ? ( ( 100. * r['count'] ) / r['total'] ) : 0
			}.join(", ").html_safe %>],
	name: '<%=value.html_safe%>',
	type: 'bar'
};
<% end.join("\n")	#	sorted_results %>

var layout = {
	hovermode: 'closest',
	barmode: 'group',
	title: 'Birth Weight Group to Percent of <%=@value%>',
	xaxis: {
		title: 'Birth Weight Group'
	},
	yaxis: {
		title: 'Percent of <%=@value%>'
	}
};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
