<p>Concept count percents to concept values grouped by Birth Res Zip Code to ...</p>

<%= form_tag request.path, method: :get do %>
	<p><%= select_tag 'v', options_for_select(@concepts, params[:v]), 
		:prompt => '- Select Concept -' %>
	<%= submit_tag "Filter", :name => nil %></p>
<% end %>


<% if @value.present? %>

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Zip Code</th>
		<th><%=@value%></th>
		<th>Count</th>
		<th>Group Total</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result['birth_res_zip_code'] %></td>
		<td><%= result['value'] %></td>
		<td><%= result['count'] %></td>
		<td><%= result['total'] %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @query.to_sql %></p>




<script type="text/javascript">
//<![CDATA[

var xs = [<%=@results.collect{|r| "\"#{r['value']}\"" }.uniq.join(", ").html_safe %>];
var data = [];

<% @results.collect{|r| r['birth_res_zip_code'] }.uniq.each_with_index do |birth_res_zip_code,i| %>
data[<%=i%>] = {
	x: xs,
	y: [<%=
		@results.collect{|r| r['value'] }.uniq.collect{|value|

			r = @results.find{|r| r['birth_res_zip_code'] == birth_res_zip_code and r['value'] == value }

			( r.present? ) ? ( ( 100. * r['count'] ) / r['total'] ) : 0
			}.join(", ").html_safe %>],
	name: '<%=birth_res_zip_code.html_safe%>',
	type: 'bar'
};
<% end.join("\n")	#	sorted_results %>

var layout = {
	hovermode: 'closest',
	barmode: 'group',
	title: 'Percents to <%=@value.html_safe%> grouped by Birth Res Zip Code',
	xaxis: {
		title: '<%=@value.html_safe%> Values'
	},
	yaxis: {
		title: 'Percent of <%=@value%>'
	}
};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
<% end %>
