<!--
<h1>Birth Weight to Mom Age</h1>
-->

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Weight</th>
		<th>Mom Age</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result.weight %></td>
		<td><%= result.mom_age %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @results.to_sql %></p>




<script type="text/javascript">
//<![CDATA[

var data = [{
	mode: 'markers',
	type: 'scatter',
	x: <%=@results.collect{|r| r.weight }%>,
	y: <%=@results.collect{|r| r.mom_age }%>
}];

var layout = {
	barmode: 'group',
	title: 'Birth Weight to Mom Age',
	xaxis: {
		title: 'Birth Weight'
	},
	yaxis: {
		title: 'Mom Age'
	}
};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
