
<h1 style='text-align: center'>Children’s Health Information & Registry Program (CHIRP)</h1>

<div style='display:table'>
<div style='display:table-row'>
<div style='display:table-cell'>

<p>The CHIRP observations exist ...</p>

<p>... for DOBs from 
<b><%= @@earliest_dob ||= Observation.where(concept: :dob).select('MIN(value) AS value')[0].value.to_date.strftime("%B %e, %Y") %></b>
to
<b><%= @@latest_dob ||= Observation.where(concept: :dob).select('MAX(value) AS value')[0].value.to_date.strftime("%B %e, %Y") %></b>
.</p>

<p>... for immunizations from 
<b><%= @@earliest_imm ||= Observation.where(source_table: :immunizations).select('MIN(started_at) AS value')[0].value.to_date.strftime("%B %e, %Y") %></b>
to
<b><%= @@latest_imm ||= Observation.where(source_table: :immunizations).select('MAX(started_at) AS value')[0].value.to_date.strftime("%B %e, %Y") %></b>
.</p>

<p>... for 
<b><%= @@distinct_chirp_ids ||= Observation.count('DISTINCT chirp_id')%></b> children born in Washoe County
.</p>

</div><!-- style='display:table-cell' -->
<div style='display:table-cell'>
<p>The current CHIRP data set includes <b><%=@@observation_count ||= Observation.count%></b> observations with the following non-blank attribute counts.</p>
<table style='margin: 0 auto'><thead><tr>
<th>Concept</th><th>Count</th>
</thead><tbody>
<% (@@attributes_counts ||= Observation.select(:concept).group(:concept).order(:concept).count).each do |k,v| %>
<tr><td><%=k%></td><td><%=v%></td></tr>
<% end %>
</tbody></table>
</div><!-- style='display:table-cell' -->

<div style='display:table-cell'>
<p>Some sample reports.</p>
<ul>
	<li><%= link_to "Sex Birth Counts by Quarter", sex_birth_counts_by_quarter_reports_path %></li>
	<li><%= link_to "Sex Birth Counts by Month", sex_birth_counts_by_month_reports_path %></li>
	<li><%= link_to "Source Pay Birth Counts by Month", source_pay_birth_counts_by_month_reports_path %></li>
<!-- Real data contains non-numeric raw values which won't CAST to INT in SQL Server
	<li><%= link_to "Parallel Coord", parallel_coords_reports_path %></li>
-->
	<li><%= link_to "Parallel Coord from CSV", parallel_coords_csv_reports_path %></li>
	<li><%= link_to "Ave Birth Weight to Zip Map", ave_birth_weight_to_zip_reports_path %></li>
	<li><%= link_to "Birth Weight Group to Percent of Zip", birth_weight_group_to_percent_of_reports_path(v: 'DEM:ZIP') %></li>
<!--
	<li><%= link_to "Birth Weight Group to Pre-pregnancy Cigarettes", birth_weight_group_to_path(v: :b2_mother_cig_prev) %></li>
	<li><%= link_to "Birth Weight Group to First Trimester Cigarettes", birth_weight_group_to_path(v: :b2_mother_cig_first_tri) %></li>
	<li><%= link_to "Birth Weight Group to Second Trimester Cigarettes", birth_weight_group_to_path(v: :b2_mother_cig_second_tri) %></li>
	<li><%= link_to "Birth Weight Group to Last Trimester Cigarettes", birth_weight_group_to_path(v: :b2_mother_cig_last_tri) %></li>
-->
	<li><%= link_to "Birth Weight Group to Zip", birth_weight_group_to_path(v: 'DEM:ZIP') %></li>
	<li><%= link_to "Birth Weight Group to Mom Alcohol Use", birth_weight_group_to_path(v: :m_alcohol_use) %></li>
	<li><%= link_to "Birth Weight Group to Mom Drug Use", birth_weight_group_to_path(v: :m_drug_use) %></li>
	<li><%= link_to "Birth Weight Group to Mom OTC Drug Use", birth_weight_group_to_path(v: :m_drug_otc) %></li>
	<li><%= link_to "Birth Weight Group to Mom Prescription Drug Use", birth_weight_group_to_path(v: :m_drug_prescription) %></li>
	<li><%= link_to "Birth Weight Group to Mom Age Group", birth_weight_group_to_path(v: :mother_age_group) %></li>
<!--
	<li><%= link_to "Birth Weight Group to Mom Race", birth_weight_group_to_path(v: :mom_race1) %></li>
	<li><%= link_to "Birth Weight Group to Mom Race ethnchs", birth_weight_group_to_path(v: :momrace_ethnchs) %></li>
-->
	<li><%= link_to "Birth Weight Group to Source Pay", birth_weight_group_to_path(v: :b2_source_pay_code) %></li>
	<li><%= link_to "Birth Weight Group to Mom Tobacco Use", birth_weight_group_to_path(v: :b2_tobacco_use) %></li>
	<li><%= link_to "Birth Weight Group to Prenatal Care", birth_weight_group_to_path(v: :b2_prenatal_yesno) %></li>
	<li><%= link_to "Birth Weight Group to WIC", birth_weight_group_to_path(v: :b2_mother_wic_yesno) %></li>
	<li><%= link_to "Birth Weight Group to Breastfeeding", birth_weight_group_to_path(v: :m_breastfeeding) %></li>
	<li><%= link_to "Birth Weight to Mom Age", birth_weight_to_mom_age_reports_path %></li>
	<li><%= link_to "Birth Weight to Tot Cigs", birth_weight_to_tot_cigs_reports_path %></li>
	<li><%= link_to "Completed Immunization Counts for DOB 2015", completed_immunizations_reports_path %></li>
	<li><%= link_to "Total Vaccination Counts for DOB 2015", total_vaccination_counts_reports_path %></li>
	<li><%= link_to "Individual Vaccination Counts for DOB 2015", individual_vaccination_counts_by_month_year_reports_path %></li>
<!--
	<li><hr/></li>
	<li><%#= link_to "Raw Observations", observations_path %></li>
-->
</ul>

<p>Be advised that these queries can be complex and will take a few seconds.</p>
<p>Additional reports can be created upon request.</p>
</div><!-- style='display:table-cell' -->
</div><!-- style='display:table-row' -->
</div><!-- style='display:table' -->
