<!--
<h1>Vaccinations by month for children born in 2015</h1>
-->

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Month</th>
		<th>Year</th>
		<th>Count</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result.month %></td>
		<td><%= result.year %></td>
		<td><%= result.count %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @results.to_sql %></p>

<script type="text/javascript">
//<![CDATA[

var data = [{
	type: 'bar',
	orientation: 'h',
	x: <%=@results.reverse.collect{|r| r.count }%>,
	y: [<%=@results.reverse.collect{|r|"\"#{r.month}/#{r.year}\""}.join(",").html_safe%>]
}];

var layout = {
	title: 'Vaccinations for those born in 2015',
	xaxis: {
		title: 'Count'
	},
	yaxis: {
		title: 'Month'
	}
};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
