<h1>Vaccinations by month for children born in 2015</h1>

<table>
<thead>
	<tr>
		<th>Month</th>
		<th>Year</th>
		<th>Count</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result.month %></td>
		<td><%= result.year %></td>
		<td><%= result.count %></td>
	</tr>
<% end %>
</tbody>
</table>

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<script type="text/javascript">
//<![CDATA[

var data = [{
	type: 'bar',
	orientation: 'h'
}];

data[0].x = <%=@results.reverse.collect{|r| r.count }%>;
data[0].y = [<%=@results.reverse.collect{|r|"\"#{r.month}/#{r.year}\""}.join(",").html_safe%>];

Plotly.newPlot('chart', data);

//]]>

</script>
