<div id="graphDiv"></div>

<p><%= @results.to_sql %></p>

<script type="text/javascript">
//<![CDATA[

var data = [{
	type: 'parcoords',
	line: {
		showscale: true,
		reversescale: true,
		colorscale: 'Jet',
		cmin: 0,
		cmax: 6500,
		color: <%= @results.collect(&:birth_weight_grams) %>
	},
	dimensions: [
		{
			label: 'Birth Weight Grams',
			range: [0,6500],
			values: <%= @results.collect(&:birth_weight_grams) %>
		}, {
			label: 'Mother Age',
			range: [0,100],
			values: <%= @results.collect(&:mother_age) %>
		}, {
			label: 'Pre Preg Weight',
			range: [0,450],
			values: <%= @results.collect(&:pre_preg_weight) %>
		}, {
			label: 'Delivery Weight',
			range: [0,450],
			values: <%= @results.collect(&:delivery_weight) %>
		}, {
			label: 'Mother Weight Change',
			range: [-50,150],
			values: <%= @results.collect(&:mother_weight_change) %>
		}, {
			label: 'Sex',
			range: [0,10],
			values: <%= @results.collect(&:sex) %>
		}, {
			label: 'Facility Type',
			range: [1,9],
			values: <%= @results.collect(&:facility_type) %>
		}, {
			label: 'Source Pay',
			range: [1,9],
			values: <%= @results.collect(&:source_pay) %>
		}, {
			label: 'Alcohol Use',
			range: [0,10],
			values: <%= @results.collect(&:alcohol_use) %>
		}, {
			label: 'Drug Use',
			range: [0,10],
			values: <%= @results.collect(&:drug_use) %>
		}, {
			label: 'Tobacco Use',
			range: [0,10],
			values: <%= @results.collect(&:tobacco_use) %>
		}, {
			label: 'Prenatal Care',
			range: [0,10],
			values: <%= @results.collect(&:prenatal_care) %>
		}
	]
}];
	
//$(function(){
$(document).on('turbolinks:load', function() {

	Plotly.plot('graphDiv', data);
	
});

//]]>

</script>
