
<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<table>
<thead>
	<tr>
		<th>Birth Month</th>
		<th>Source Pay</th>
		<th>Count</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result['birth_month'] %>/<%= result['birth_year'] %></td>
		<td><%= result['source_pay'] %></td>
		<td><%= result['count'] %></td>
	</tr>
<% end %>
</tbody>
</table>

<p><%= @results.to_sql %></p>




<script type="text/javascript">
//<![CDATA[

var groups = [<%= @results.collect{|r| "\"#{r.source_pay}\"" }.uniq.join(", ").html_safe %>];

var xs = [<%= @results.collect{|r| "\"#{r.birth_year}/#{r.birth_month}\"" }.uniq.join(", ").html_safe %>];
var data = [];

<% @results.collect(&:source_pay).uniq.sort.each_with_index do |source_pay,i| %>
data[<%=i%>] = {
	x: xs,
	y: [<%= @results.select{|r|r.source_pay == source_pay }.collect(&:count).join(", ").html_safe %>],
	name: "<%=source_pay.html_safe%>",
	type: 'lines'
};
<% end %>

var layout = {
	hovermode: 'closest',
	barmode: 'group',
	title: 'Source Pay Birth Counts per Month',
  xaxis: {
		title: 'Month'
  },
  yaxis: {
		title: 'Births',
/*
    type: 'log',
    autorange: true
*/
  }

};

Plotly.newPlot('chart', data, layout);

//]]>

</script>
