<h1>Total Vaccination Counts for all children born in 2015</h1>

<table>
<thead>
	<tr>
		<th>Vaccination</th>
		<th>Count</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result.vaccination %></td>
		<td><%= result.count %></td>
	</tr>
<% end %>
</tbody>
</table>

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<p><%= @sql %></p>

<script type="text/javascript">
//<![CDATA[

var data = [{
	type: 'bar',
	orientation: 'h'
}];

data[0].x = <%=@results.reverse.collect{|r| r.count }%>;
data[0].y = [<%=@results.reverse.collect{|r|"\"#{r.vaccination}\""}.join(",").html_safe%>];

Plotly.newPlot('chart', data, {
	margin: {
		l: 200,
	}
});

//]]>

</script>
